body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
}

.user-register-form-control {
    text-align: center;
}

button {
    display: flex;
    margin: auto;
    border-radius: 15px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    color: rgb(211, 80, 4);
    transition: .2s;
}

input {
    margin: auto;
    display: flex;
    border-radius: 10px;
    padding: 5px 20px;
    color: rgb(1, 34, 44);
}

select {
    background: rgb(6, 143, 153);
    margin: auto;
    width: 210px;
    border-radius: 10px;
    display: flex;
    padding: 5px 20px;
    color: rgb(255, 255, 255);
}

.link {
    display: flex;
    justify-content: center;
    padding: 10px;
}