/* estilo base do meu componente */
.button {
    border-radius: 15px;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    color: white;
    transition: .2s;
}

/* variação primária */
.button.primary {
    background: rgb(26, 140, 216);
}

.button.primary:hover {
    background: rgb(0, 172, 238);
}

/* variação secundária */
.button.secondary {
    background: transparent;
}

.button.secondary:hover {
    background: rgba(217, 217, 217, 0.1);
}