.salon-main{
  width: 100%;
  display: flex;
  justify-content: space-around;
 }
 
.button-orders-conatiner{
  width: 100%;
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}

.name-button{
  font-size: 15px;
}

.container-menu{
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-evenly;
  border-radius: 10px;
  margin: 1%;
  flex-wrap: wrap;
  align-content: flex-end;
  align-items: flex-start;

};

.input-container{
  width: 100%;
  /*display: flex;*/
  justify-content:space-between;
  margin-bottom: 5%;   
  background-color: green;
}

.orders-area{
  width: 46%;
  margin: 2%;
}
.container-order{
  background-color: #787bbe;
  width: 246px;
  margin: 53px;
  border: solid 10px #ffcc80;
  border-radius: 29px;
  align-items: center;
}

.info-table-client{
  background: antiquewhite;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 5%;
  padding: 5px;
}

.select-table{
  border-radius: 5px;
  width: 100px;
  height: 36px;
  margin: 2%;
  padding: 10px;
  background-color: #B9BFD9;
  color: #1E2340;
  font-size: 14px;
  font-weight: 500;
}

.box-order-itens{
  display: flex;
  width: 90%;
  padding: 5%;
  align-items: center;
  align-content: space-between;
  justify-content: space-evenly;
  flex-direction: column;
}

.input-client{
  border-radius: 9px;
  width: 143px;
  height: 38px;
  /*background-color: #7BBFA6;*/
}  


.input-client::placeholder {
   color: #1E2340;
}

hr {
  border: 1px solid #7BBFA6;

}
.total-sum{
  color: white;
  margin-left: 62%;
}