
h1 {
    text-align: center;
}


.container-login {
  display: flex;
  justify-content: center;
  min-width: 13em;
  min-height: 13em;  
  padding: 6% 8% 2% 8%;
}

.user-login {
  width: 20em;
  height: 25em;
  margin-top: auto;
  background-color: #7BBFA6;
  border-radius: 10px;
  box-shadow: 3px 3px 1px 0px #00000060;
}

.label-login{
  color: #020441;
  font-weight: 600;
  padding: 5px 70px;
}

.error-message-login {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #495C52;
}

.link-login {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1px;
    color: #580201;
}